extends ../layouts/users-layouts.pug
block content
		h1.btn.btn-success Replace user

		if errors
			each error in errors
				.alert.alert-danger= error

		form.mt-2(action="/users/replace/" + user.id, method="POST")
			.form-group
				label.mr-2.text-danger(for = "name" ) Name
					input#name.form-control(type="text" name="name" value= values ? values.name : "") 

			.form-group
				label.mr-2.text-danger(for = "email") Email
				input#email.form-control(type="text" name="email" value= values ? values.email : "")

			.form-group
				label.mr-2.text-danger(for = "password" ) Password
					input#name.form-control(type="password" name="password" value= values ? values.password : "")


			button.btn.btn-primary.mt-2 Replace 

