extends ../layouts/users-layouts.pug
block content
		h1 List users
		a.btn.btn-success(href= "/users/create") Create new user
		form.d-flex.mt-2(action= "/users/search" method= "GET")
			input.form-control(type= "text" name= "q")
			button.btn.btn-primary.ml-2 Search
		table.table
			tr
				th Name
				th Email
				th 

			each user in users
				tr
					td=  user.name
					td=  user.email
					td  
						a(href= "/users/" + user.id) View
					td
						a.text-danger(href= "/users/delete/" + user.id) Delete
					td 
						a.text-warning(href = "/users/replace/" + user.id) Replace