extends ../layouts/users-layouts.pug
block content
		h1 List users
		a(href= "/users/create") Create new user
		form(action= "/users/search" method= "GET")
			input(type= "text" name= "q")
			button Search
		a(href= "/users/create")
		ul 
			each user in users
				li 
					span=  user.name
					span &nbsp;
					a(href="/users/" + user.id) View